<p>
  <h2 id="<%= section_id %>" class="jsdoc-header"><%= section %></h2>
  <h3 class="jsdoc-method-signature">signature: <%= signature %></h3>
  <h4 class="jsdoc-since"><small>available since: <%= since %></small></h4>
</p>

<div class="jsdoc-content">
  <%= content %>
</div>
